@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #d8acda;
    --branco: #FFFFFF;
    --laranja: #c617d5;
    --azul-degrade: linear-gradient(97.54deg, #8e2ea1 35.49%, #8e2ea1 35.49%);
    --fonte-principal: "Poppins";
    --azul: #f2caef;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}